@import '_fonts';

$base-font: 'Carmen Sans';
$secondary-font: ' Arial, Helvetica, sans-serif';




// base colors
$bg-color: #f8fcfa;
$black: #000;
$white: #fff;
$primary-green: #4aa77b;
$primary-red: #e0624b;
$primary-black: #121212;
$dark-gray: #353535;
$dark-primary-gray: #777;
$secondary-gray: #666666;



// border colors
$lite-gray-primary: #eaebeb;
$lite-gray-secondary: #e4e2e2;
$lite-gray-titenery: #eee;
$primary-gray: #ccc;


// hover colors

$hover-primary: #eaeaea;


// ratings

$primary-rating-selected: #f6ae42;


// buttons
$primary-green-button: #4aa77b;