<nav class="navigaton-container">
    <ul>
      <li><a href="javascript:;" routerLink="/overview"><img src="assets/images/overview.jpg"/>Overview</a></li>
      <li><a href="javascript:;" routerLink="/messages"><img src="assets/images/message.jpg"/>Messages</a>
      </li>
      <li><a href="javascript:;" routerLink="/search"><img src="assets/images/search.jpg"/>Search</a></li>
      <li><a href="javascript:;" routerLink="/filter"><img src="assets/images/filter.jpg"/>Filter</a></li>
      <li><a href="javascript:;" routerLink="/history"><img src="assets/images/history.jpg"/>History</a></li>
      <li><a href="javascript:;" routerLink="/account"><img src="assets/images/account.jpg"/>My Account</a></li>      
    </ul>
  </nav>
