<div class="card-main">
    <app-ratings [ratings]="employee.ratings"></app-ratings>
    <div class="employee-details">
        <div class="row border">
            <div><span>Experience:</span> <strong>{{employee.experience}} Years</strong></div>
            <div><span>Date of Joining:</span> <strong>{{employee.doj}}</strong></div>
        </div>
        <div class="row text-left single-line">
            <div><span>Current Team:</span> <strong>{{employee.team}}</strong></div>
        </div>
        <div class="row text-left single-line">
            <div><span>Reporting Manager:</span> <strong>{{employee.reportingManager}}</strong></div>
        </div>   
    </div>
</div>